<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="member">

<select id="memLogin" parameterType="memberVO" resultType="int">
	select * from member where mem_id=#{mem_id} and mem_pw=#{mem_pw}
</select>

<insert id="memSignUp" parameterType="memberVO">
	insert into member 
	values(seq_member.nextval, #{mem_id}, #{mem_pw}, #{mem_name}, sysdate)
</insert>

</mapper>